APP_NAME=NetOps Copilot 2026
APP_ENV=development
MONGODB_URL=mongodb://localhost:27017
MONGODB_DB=netops_copilot
JWT_SECRET_KEY=change_this_to_a_long_random_secret
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
